html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: QuickSand, sans-serif;
}
a{
    text-decoration: none;
}
.button{
    color: black;
    background-color: white;
    transition: color 0.2s;
    text-align: center;
}
.button .back{
    width: 0%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -100%;
    transition: width 0.2s;
}
.button:hover{
    cursor: pointer;
    color: white;
}
.button .text{
    position: relative;
    z-index: 1;
    color: inherit;
}
.slideUp{
    position: relative;
    transition: top 0.8s, opacity 0.8s;
}
#footnote{
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
#footnote a{
    color: white;
    font-weight: 900;
    text-decoration: underline;
}