.projectBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
}
.projectBox .title{
    font-family: Staatliches, sans-serif;
    font-size: 80px;
    position: relative;
    padding-top: 90px;
}
.projectBox .hl{
    width: 90%;
    height: 1px;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
    margin-bottom: 45px;
}
.project{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: center;
}
.project .col{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project .col.right{
    text-align: left;
    padding-right: 7%;
    padding-left: 3%;
}
.project .col.left{
    text-align: right;
    padding-right: 3%;
    padding-left: 7%;
}
.project img{
    width: 100%;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    border-width: 5px;
    border-radius: 8px;
}
.project .heavy{
    font-family: Staatliches, sans-serif;
    font-size: 70px;
    width: 100%;
}
.project .light{
    font-size: 16px;
    width: 100%;
}
.project .light a{
    color: white;
    text-decoration: underline;
}
.project .buttons{
    width: 100%;
    display: flex;
    margin-top: 20px;
    font-family: "Turret Road", "Major Mono Display", sans-serif;
}
.project .right .buttons{
    flex-direction: row;
}
.project .left .buttons{
    flex-direction: row-reverse;
}
.project .buttons .repo{
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.project .buttons .codePaper{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.project .space{
    width: 18px;
}
.projectBox.pivot{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url("../images/pivotBack.png");
}
.project.neuroe{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url("../images/neuroeBack.png");
}
.project.tetris{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url("../images/tetrisBack.png");
}
.project.aoaoc{
    background-image: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)), url("../images/aoaocBack.png");
}
.project.selftris{
    background-color: rgb(22, 22, 22);
}
@media screen and (max-width: 1000px){
    .projectBox .title{
        font-size: 70px;
        padding-top: 50px;
    }
    .projectBox .hl{
        margin-bottom: 25px;
    }
    .project .heavy{
        font-size: 55px;
    }
    .project .light{
        font-size: 14px;
    }
    .project .buttons{
        margin-top: 17px;
    }
    .project .buttons .repo{
        width: 120px;
        height: 32px;
        line-height: 32px;
        font-size: 15px;
    }
    .project .buttons .codePaper{
        width: 80px;
        height: 32px;
        line-height: 32px;
        font-size: 15px;
    }
}
@media screen and (max-width: 650px){
    .projectBox .title{
        font-size: 55px;
        padding-top: 45px;
    }
    .project .heavy{
        font-size: 40px;
    }
    .project .light{
        font-size: 12px;
    }
    .project .buttons{
        margin-top: 12px;
    }
    .project .buttons .repo{
        width: 100px;
        height: 27px;
        line-height: 27px;
        font-size: 12px;
    }
    .project .buttons .codePaper{
        width: 68px;
        height: 27px;
        line-height: 27px;
        font-size: 12px;
    }
    .project .space{
        width: 13px;
    }
    .project{
        padding-top: 90px;
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 500px){
    .projectBox .title{
        font-size: 45px;
        padding-top: 40px;
    }
    .project .heavy{
        font-size: 32px;
    }
    .project .light{
        font-size: 10px;
    }
    .project .buttons{
        margin-top: 10px;
    }
    .project .buttons .repo{
        width: 80px;
        height: 22px;
        line-height: 22px;
        font-size: 10px;
    }
    .project .buttons .codePaper{
        width: 50px;
        height: 22px;
        line-height: 22px;
        font-size: 10px;
    }
    .project .space{
        width: 8px;
    }
    .project{
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .project img{
        border-width: 3px;
        border-radius: 6px;
    }
}
@media screen and (max-width: 400px){
    .projectBox .title{
        font-size: 30px;
        padding-top: 30px;
    }
    .project .heavy{
        font-size: 20px;
    }
    .project .light{
        font-size: 8px;
    }
    .project .buttons{
        margin-top: 8px;
    }
    .project .buttons .repo{
        width: 60px;
        height: 18px;
        line-height: 18px;
        font-size: 8px;
    }
    .project .buttons .codePaper{
        width: 40px;
        height: 18px;
        line-height: 18px;
        font-size: 8px;
    }
    .project .space{
        width: 4px;
    }
    .project{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.project.first{
    padding-top: 0px;
}